<div class="upload-container">

  <ion-label>{{ label }}</ion-label>

  <div class="preview">

    <img
      *ngIf="imageUrl"
      [src]="previewUrl"
      alt="Preview">

    <div
      class="placeholder"
      *ngIf="!imageUrl">

      <ion-icon name="image-outline"></ion-icon>

    </div>

  </div>

  <input
    #fileInput
    hidden
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)">

  <ion-button
    expand="block"
    color="primary"
    (click)="openFilePicker()"
    [disabled]="uploading">

    <ion-spinner
      *ngIf="uploading"
      name="crescent">
    </ion-spinner>

    <span *ngIf="!uploading">
      Choose Image
    </span>

  </ion-button>

  <ion-button
    *ngIf="imageUrl"
    color="danger"
    fill="outline"
    expand="block"
    (click)="removeImage()">

    Remove Image

  </ion-button>

</div>