:host {
  display: block;
}

.progress-wrapper {

  display: flex;

  flex-direction: column;

  gap: 18px;

}

.value {

  display: flex;

  justify-content: space-between;

  align-items: center;

}

.value h2 {

  margin: 0;

  font-size: 32px;

  font-weight: 700;

}

.value span {

  font-size: 16px;

}

.percentage {

  color: var(--ion-color-medium);

  font-weight: 600;

}

ion-progress-bar {

  height: 10px;

  border-radius: 10px;

}