<ion-card>

    <ion-card-content>

        <div class="banner">

            <div>

                <h1>

                    {{ greeting }}, {{ userName }} 👋

                </h1>

                <p>

                    {{ currentDate | date:'EEEE, dd MMMM yyyy' }}

                </p>

            </div>

            <div class="calendar">

                <ion-icon
                    name="calendar-outline">
                </ion-icon>

            </div>

        </div>

    </ion-card-content>

</ion-card>