<p>sidebar works!</p>
<ion-content>
  <ion-list>
    <ion-item routerLink="/dashboard/dashboard"> Dashboard </ion-item>
    <!-- <ion-item routerLink="/dashboard/home"> Home </ion-item> -->

    <ion-item routerLink="/dashboard/hero"> Hero </ion-item>

    <ion-item routerLink="/dashboard/about"> About </ion-item>

    <ion-item routerLink="/dashboard/skills"> Skills </ion-item>

    <ion-item routerLink="/dashboard/experience"> Experience </ion-item>

    <ion-item routerLink="/dashboard/education"> Education </ion-item>

    <ion-item routerLink="/dashboard/projects"> Projects </ion-item>

    <ion-item routerLink="/dashboard/resume"> Resume </ion-item>

    <ion-item routerLink="/dashboard/settings"> Settings </ion-item>
  </ion-list>
</ion-content>
